.inquiry_loader {
  position: relative;
  width: 100px;
  height: 100px;
}

.inquiry_loader::before,
.inquiry_loader::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 5px solid transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: spin 1.5s linear infinite;
}

.inquiry_loader::before {
  width: 80px;
  height: 80px;
  border-top: 5px solid #20247e;
  border-bottom: 5px solid #20247e;
}

.inquiry_loader::after {
  width: 60px;
  height: 60px;
  border-left: 5px solid #7679aa;
  border-right: 5px solid #7679aa;
  animation-duration: 1s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 1.6s ease-in-out infinite;
}

.bar:nth-child(1) .dot {
  animation-delay: 0s;
}
.bar:nth-child(2) .dot {
  animation-delay: 0.2s;
}
.bar:nth-child(3) .dot {
  animation-delay: 0.4s;
}
.bar:nth-child(4) .dot {
  animation-delay: 0.6s;
}
.bar:nth-child(5) .dot {
  animation-delay: 0.8s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-38px);
  }
}
