@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-gov.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-gradient-voice {
  background: linear-gradient(to bottom right, #51e9a2, #006e76);
}

.linear-gradient-voice-in {
  background: linear-gradient(to bottom right, #9ca3ff, #4b54dd);
}

.dynamic-toast {
  background: rgba(95, 103, 227, 0.85);
  color: "#fff";
  border-radius: "20px";
  text-align: "center";
  top: "3.5rem";
  min-height: "42px";
  display: "flex";
  align-items: "center";
  justify-content: "center";
  font-size: "15px";
  padding: "4px 12px";
}
