@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-gov.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 전체 화면 높이 */
}

.layout-1 {
  flex-shrink: 0; /* 높이를 줄이지 않음 */
  height: 100px; /* 고정 높이 */
  background-color: #f0f0f0;
}

.layout-2 {
  flex-grow: 1; /* 남은 공간 차지 */
  min-height: 0; /* 키보드 올라올 때 줄어들도록 설정 */
  background-color: #e0e0e0;
  overflow-y: auto; /* 내용이 많으면 스크롤 가능 */
}
